
.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s ease-in 0.3s 1 alternate;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s 1 alternate;
}

@keyframes scale-heart {
  from {
    transform: scale(1);
  }
  
  to {
    transform: scale(1.25);
  }
}

@keyframes show-sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}