/*=== BASE ===*/

.page {
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: 18px;
  background-image: var(--background-image);
  background-size: cover;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight);
}

.container {
  margin-inline: auto;
  max-inline-size: var(--block-width);
}

/*=== BUTTON ===*/

.button {
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--box-shadow-color);
}

.button-animated {
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: box-shadow 0.3s ease; 
}

.button-animated::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button-animated:hover::before {
  transform: translateX(0);
}

.button__text,
.button__icon {
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  display: inline-block;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.button__icon {
  position: relative;
  width: 21px;
  height: 21px;
}

/*=== DECORATION ===*/

.decorated-zone {
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

/*=== HEADER ===*/

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: var(--header-spacing);
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--font-size-logo-title);
}

.header__description {
  font-family: var(--accent-font);
  font-size: var(--font-size-logo-description);
}

/*=== MAIN CONTENT ===*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 100px;
}

.content__card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__card-title {
  padding-inline: 10px;
  padding-block: 4px;
  font-size: 1em;
  line-height: 22px;
  font-variation-settings: "wght" var(--title-weight);
}

.content__card-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.content__card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content__card-paragraph {
  line-height: 21px;
}

/*=== CARD IMAGE ===*/

.card__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  overflow: hidden;
  isolation: isolate;
}

.content__card-image {
  width: 100%;
  max-width: 696px;
  height: 100%;
  max-height: 696px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.content__card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
  -1px 0 #fff,
   1px 0 #fff,
   0 -1px #fff,
   0 1px #fff;
  mix-blend-mode: hard-light;
  }

/*=== IMAGE FILTER */

.filter-grayscale {
  filter: grayscale(70%) brightness(150%) sepia(20%); 
}

.filter-saturate {
  filter: saturate(400%) hue-rotate(360deg);
}

.filter-hue {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(0.8) hue-rotate(10deg) brightness(80%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(20px);
}

.filter-multiple {
  filter: invert(0.27) hue-rotate(90deg) saturate(190%) sepia(0.3) blur(2px);
}

/*=== CARD BUTTONS ===*/

.card__icon-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.card__icon-button,
.card__like-button,
.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  background-color: var(--background-color);
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
}

.card__like-button {
  position: relative;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.save__button {
  gap: 8px;
  min-inline-size: 335px;
  min-block-size: 55px;
}

/*===LIKE ICON ===*/

.like-icon {
  width: 39px;
  height: 36px;
}

/* Контур */
.contour {
  transition: fill 0.1s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

/* Сердцевина */
.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--animation-hover-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

/* Основаное тело */
.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--animation-hover-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/* Искры */
.sparks {
  opacity: 0;
}

/*=== UTILITIES ===*/

@supports(-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .content__card-label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

/*=== MODAL ===*/

.modal {
  border: 2px solid var(--border-color);
  padding: 30px;
  background-color: var(--background-color);
  max-inline-size: var(--modal-width);
}

.modal[open] {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal .modal__icon {
  width: 39px;
  height: 39px;
}

.modal__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modal__button {
  grid-column: 1 / -1;
  min-block-size: 38px;
}

/*=== MEDIA ===*/

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    min-inline-size: 306px;
    min-block-size: 84px;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }

  .modal {
    padding-right: 40px;
    padding-left: 40px;
  }
}